@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

.navbar {
  margin: 0;

 
 width: auto;
}
.title {
  margin: 0.5em;
  padding: 0;
  font-size: 6vh;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  float: left;
  justify-content: right;


}
.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-content: space-around;
  font-style: "DM Sans",sans-serif;
  font-size: 0.5vw;
  font-weight: bold;
  margin-right: 3%;
  z-index: 1000;
}
.link-heading {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  margin-left: 30%;
  margin-bottom: 2%;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 500;
  text-align: right;
  float: left;
}

a{
  text-decoration: none;
  color: rgb(5, 5, 5);
  margin-left: 10%;
}
a:hover {
  text-decoration: none;
  color: rgb(29, 190, 29);
}
@media only screen and (max-width: 600px) {
  .navbar {
    margin: 0;
  
   
   width: auto;
  }
  .title {
    padding: 0;
    font-size: 5vh;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    text-align: center;
  
  
  }
  .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-content: space-around;
    font-style: "DM Sans",sans-serif;
    font-size: 0.5vw;
    font-weight: bold;
    margin-right: 3%;
    z-index: 1000;
  }
  .link-heading {
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    margin-left: 30%;
    margin-bottom: 2%;
    cursor: pointer;
    font-size: 3vh;
    font-weight: 500;
    text-align: right;
    float: left;
  }
  
  a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    margin-left: 10%;
  }
  a:hover {
    text-decoration: none;
    color: green;
  }
}